<h1>Login</h1>
<%= form_tag sessions_path do %>

<div class="row">
  <div class="login col-xs-6 col-xs-offset-3 col-sm-4 col-sm-offset-4">
    <div class="field">
 	      <%= label_tag :email %>
 	     	<%= text_field_tag :email %>
    </div>
    <div class="field">
      	<%= label_tag :password %>
      	<%= password_field_tag :password %>
    </div>
    <div class="actions">
      	<%= submit_tag "Login" %>
    </div>
  </div>
  </div>
</div>
<% end %>
