<%= form_for([:user, gift]) do |f| %>
  <% if gift.errors.any? %>

    <div id="error_explanation">
      <h2><%= pluralize(@gift.errors.count, "error") %> prohibited this gift from being saved:</h2>

      <ul>
      <% @gift.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


<div class="form-inline" id="iou">
  <h4>
    I Owe &nbsp <%= f.text_field :recipient_name, placeholder:"Winston Mi" %>
      <%= f.text_field :quantity, placeholder:"2", id:"formquant" %>
      <%= f.text_field :gift_desc, placeholder:"Tiger Beers" %>
    <button type="submit" class="btn btn-default"><%= "Create IOU"%></button>
  </h4>
</div>


<% end %>
