<% if !user_logged_in? %>
  <%= render 'gifts/sign_up' %>
<% end %>


<h1>IOUs</h1>

<% if user_logged_in? %>
  <h3>Hello, <%= current_user.email %></h3>

<table class="table table-striped table-hover .active">
  <thead>
    <tr>
      <th>I</th>
      <th>Owe</th>
      <th>U</th>
      <th>a couple...</th>
      <th>[Something]</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody class="gifts">
    <% @gifts.each do |gift| %>
      <tr class="gift">

        <% my_string = gift.user.email %>
        <% result = my_string[/[^@]+/] %>

        <td><%= result.capitalize %></td>
        <td>Owes</td>
        <td><%= gift.recipient_name %></td>
        <td><%= gift.quantity %></td>
        <td><%= gift.gift_desc %></td>
        <td><%= link_to 'Show', user_gift_path(gift.user, gift) %></td>
        <td><%= link_to 'Edit', edit_user_gift_path(gift.user, gift) %></td>
        <td><%= link_to 'Destroy', user_gift_path(gift.user, gift), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>


  <%= link_to "Logout", logout_path, method: :delete %>
  <%= link_to 'New IOU', new_user_gift_path(current_user) %>
<% else %>
  <%= link_to "Sign Up", sign_up_path %>
  <%= link_to 'Login', new_session_path%>
<% end %>
