<h1 class="text-center">
  <strong>
    <% my_string = @gift.user.email %> <% result = my_string[/[^@]+/] %>
  <%= result.capitalize %> Owes <%= @gift.recipient_name %> <%= @gift.quantity %> <%= @gift.gift_desc %>
  </strong>
</h1>

<%= link_to 'Edit', edit_user_gift_path(@gift) %> |
<%= link_to 'Back', user_gifts_path %>
