<!DOCTYPE html>
<html>
  <head>
    <title>Project2</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= csrf_meta_tags %>
  </head>

  <body>

    <%= render 'layouts/header' %>

    <% flash.each do |name, message| %>
        <div class="flash-message flash-message-<%= name %>">
            <%= message %>
        </div>
    <% end %>

    <div class="container">
      <%= yield %>
      <%= render 'layouts/footer' %>
    </div>

  </body>
</html>
